/********************* CHARTE GRAPHIQUE *********************/
.light-blue {
	color: rgb(0, 142, 242);
}
.blue {
	color: rgb(10, 98, 160);
}
.light-green {
	color: rgb(100, 176, 88);
}
.green {
	color: rgb(30, 105, 18);
}
.lighter-gray {
	color: rgb(211, 215, 218);
}
.light-gray {
	color: rgb(157, 163, 169);
}
.gray {
	color: rgb(128, 133, 136);
}
.dark-gray {
	color: rgb(51, 50, 55);
}
.darker-gray {
	color: rgb(22, 24, 25);
}
.black {
	color: rgb(8, 8, 8);
}
.light-yellow {
	color: rgb(255, 255, 153);
}
.yellow {
	color: rgb(255, 237, 57);
}
.red {
	color: rgb(202, 60, 60);
}
.dark-red {
	color: rgb(145, 0, 0);
}
.white {
	color: #fff;
}


.b-light-blue {
	background-color: rgb(0, 142, 242);
}
.b-blue {
	background-color: rgb(10, 98, 160);
}
.b-light-green {
	background-color: rgb(100, 176, 88);
}
.b-green {
	background-color: rgb(30, 105, 18);
}
.b-lighter-gray {
	background-color: rgb(211, 215, 218);
}
.b-light-gray {
	background-color: rgb(157, 163, 169);
}
.b-gray {
	background-color: rgb(128, 133, 136);
}
.b-dark-gray {
	background-color: rgb(51, 50, 55);
}
.b-darker-gray {
	background-color: rgb(22, 24, 25);
}
.b-black {
	background-color: rgb(8, 8, 8);
}
.b-light-yellow {
	background-color: rgb(255, 255, 153);
}
.b-yellow {
	background-color: rgb(255, 237, 57);
}
.b-red {
	background-color: rgb(202, 60, 60);
}
.b-dark-red {
	background-color: rgb(145, 0, 0);
}
.b-white {
	background-color: #fff;
}


a {
  color: rgb(22, 24, 25);
}
.black-hover:hover,.black-hover:focus,.black-hover:active{
	color: black;
}
.white-hover:hover,.white-hover:focus,.white-hover:active{
	color: white;
}
.shadow-hover:hover,.shadow-hover:focus,.shadow-hover:active{
	text-shadow: 0 2px 6px rgba(0, 0, 0, 0.58);
}
.glow-hover:hover,.glow-hover:focus,.glow-hover:active{
	text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.58);
}
.b-shadow-hover:hover,.shadow-hover:focus,.shadow-hover:active{
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.58);
}
.b-glow-hover:hover,.glow-hover:focus,.glow-hover:active{
	box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.58);
}
a.b-light-gray:hover {
    background-color: rgb(211, 215, 218);
}
/********************* CHARTE GRAPHIQUE *********************/


html {
  height: 100%;
}

body {
  background: #fff;
  height: 100%;
}
body::after {
	content: "";
	background: url("http://www.masdesanguilles.com/site/images/normal/Fotolia_42982968_Subscription_XXL.jpg");
	opacity: 0.3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
}
a {
  cursor: pointer;
  text-decoration: none;
}
#content>div.flex {
  height: 100%;
  width: 100%;
}
#content-body {
  height: 100%;
  width: 100%;
}
div.full {
  position: relative;
  height: 100%
}


.concours {
  display: none;
  padding-bottom: 4px;
  box-sizing: border-box;
  counter-reset: column-number;
  height: 100%;
  overflow: visible;
  white-space: nowrap;
}
.tour {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  /*border: solid white;*/
  position: relative;
  z-index: 1;
}
.mid {
  height: 50%;
}
.zero {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.blur {
	box-shadow: 0px 0px 20px 10px rgba(255,255,255,1);
	opacity: 0.7;
}
.frame {
	box-shadow: 
		0px 0px 0px 10px rgba(255,255,255,1), 
		1px 11px 15px 10px rgba(0,0,0,0.4);
}
.centerBox section {
	background: none;
}
.centerBox section .grid2 div {
	height: 250px;
}
#start button, #start a {
	height: 38px;
    margin: 5px;
    width: 200px;
}
.shadow {
	text-shadow: 0 2px 6px rgba(0, 0, 0, 0.58);
}
.glow {
	text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.58);
}
.boxshadow {
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.58);
}
.inboxshadow {
	box-shadow: 0 1px 1px rgba(17, 17, 17, 0.5) inset;
}
.round {
    border-radius: 4px;
}
.rounder {
	border-radius: 6px;
}
.rounder, .pure-button.round {
    border-radius: 4px;
}
.rounder, .pure-button.rounder {
	border-radius: 6px;
}
.pure-button.smaller {
	padding: 5px;
}
.pure-button.border {
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.form1 {
	font-weight: bold;
}
.form1>input {
	height: 38px;
	width: 200px;
	margin: 5px;
}
.form1>input::-webkit-input-placeholder {
	font-weight: bold;
}
.form1>input::-moz-placeholder {
	font-weight: bold;
}
.form1>input:-ms-input-placeholder {
	font-weight: bold;
}

#inscription {
	padding-left: 40px;
}

.app-title {
  font-family: 'Give You Glory', cursive;
  margin-bottom: 0;
  margin-left: 20px;
  text-shadow: 5px 2px 4px rgba(0, 0, 0, 1);
  font-size: 3.2rem;
}
.centerBox .app-title {
  margin-bottom: 0;
  font-size: 5rem;
  margin-left: 310px;
}


.tagline {
  font-size: 1.1em;
  font-family: 'Calligraffitti', cursive;
  position: relative;
  left: 1.6em;
  text-align: left;
  margin: 0;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}
.centerBox .tagline {
  font-size: 1.1em;
  left: 480px;
}
.layer {
  position: relative;
  min-height: 800px;
  background: #fff;
  margin-top: -10px;
  padding: 0;
  box-shadow: 0 20px 10px rgba(0,0,0,.5);
  position: absolute;
  right: 0;
}

i.fa {
  cursor: pointer;
}

#commands {
  text-align: center;
  margin-bottom: 10px;
}
#commands a {
  text-align: left;
  margin-top: 10px;
}
#commands a:first-child {
  margin-top: 0;
}
#commands label {
  line-height: 25px;
  font-size: 1.6em;
}
#commands i {
  width: 25px;
  height: 30px;
  margin-right: 10px;
}
#show {
  display: none;
}

input.editable {
  display: none;
}

.top-border {
  border-top: 1px solid #777;
}
.no-scroll {
  overflow: hidden;
}
.scroll-h {
  overflow-x: auto;
  overflow-y: hidden;
}
.scroll-v {
  overflow-y: auto;
}
.par {
  padding-right: 25px !important;
}
.mash {
  margin: 0 10px;
}
.mals {
  margin-left: 10px !important;
}
.mats {
  margin-top: 10px !important;
}
.masc {
  margin: 0 10px 0 10px;
}
.pass {
  padding: 5px;
}
.pals {
  padding-left: 10px !important;
}
.icon-input {
  position: relative;
  height: 40px;
}
.sharp {
  border: medium none;
  border-radius: 0;
  outline: medium none;
}
.icon-input input {
  height: inherit;
}
.icon-input i.fa {
  margin-top: -8px;
  position: absolute;
  right: 7px;
  top: 40%;
}

.match label {
  width: 110px;
  margin-right: 10px;
}
.match .score {
  width: 40px;
}
.match * {
  margin-bottom: 0!important;
  margin-top: 15px;
}
.match.odd * {
  margin-top: 0!important;
}

.bottom-offset {
    bottom: 4px;
}
.underline {
	text-decoration: underline;
}
#repartition {
  max-height: 100%;
  width: 600px;
}
.point #repartition {
  width: 380px;
}
#repartition table {
  margin: 0 0 20px 0;
}
#repartition td {
  margin: 0!important;
  padding: 0!important;
}
#repartition td ul {
  border: 1px solid #aaa;
  width: 100%;
  min-height: 200px;
  padding: 0;
}
#repartition li {
  border: 1px solid #999;
}
#repartition ul li:last-child {
  margin-bottom: 0;
}
#repartition .tag {
  width: 25px;
}
#repartition li span {
  border: 1px solid #aaa;
  padding: 0 1px;
  margin: 0 4px;
  line-height: 21px;
  vertical-align: middle;
  font-weight: bold;
}
#scores {
  max-height: 100%;
}
#liste {
  margin: 10px 0 20px 0;
}
#liste label {
  width: 220px;
  margin: 0;
  text-align: right;
  overflow: hidden;
}
.point #liste label {
  width: 100px;
}
#liste label.odd {
  text-align: left;
}
#liste select {
  margin: 0 5px 0 10px;
}
#liste select.odd {
  margin: 0 10px 0 5px;
}

.on-print
{
  display: none;
}

.mcenter {
	margin: 0 auto;
}

.datalist label {
	overflow: hidden;
}

.hover-a a {
	display: none;
}
.hover-a:hover a {
	display: inline-block;
}


/********************* BOX *********************/
.centerBox {
	background-color: #b6aba9;
    box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    text-align: center!important;
}
#loginBox {
	background-image: url("http://www.bonjourdumonde.com/blog/grece/11/wp-content/uploads/2013/01/petanque4-1024x671.png");
    background-size: cover;
    margin-left: -350px;
    margin-top: -225px;
    height: 450px;
    width: 700px;
}
.errorBox {
	/*background-image: url("http://www.avignon-et-provence.com/tourisme/petanque-provence/img/femme-petanque.jpg");*/
	/*background-image: url("http://www.avignon-et-provence.com/tourisme/petanque-provence/img/tirer.jpg");*/
}
.errorBox.interdit {
	background-image: url("http://www.avignon-et-provence.com/tourisme/petanque-provence/img/garcon-boules.jpg");
    background-size: cover;
    background-position: center;
    height: 327px;
    width: 250px;
    margin-left: -125px;
    margin-top: -164px;
}
.errorBox.introuvable {
	background-image: url("http://www.avignon-et-provence.com/tourisme/petanque-provence/img/femme-petanque.jpg");
    background-size: cover;
    height: 400px;
    width: 760px;
    margin-left: -380px;
    margin-top: -200px;
}
/********************* BOX *********************/


.notification {
  display: block;
  font-weight: bold;
  margin: 0 10px;
}
.notification i {
  margin-right: 10px;
  margin-left: 5px;
}
.notification span {
  display: block;
  font-size: 0.8em;
  top: inherit;
  left: inherit;
}
.notification p {
  margin: 0 0 0 15px;
}
/********************* BOOTSTRAP *********************/
.alert {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.container .alert {
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 10000;
	height: 30px;
	padding: 5px;
	margin: 2px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: white;
  background-color: rgb(202, 60, 60);
  border-color: rgb(100, 0, 0);
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
/********************* BOOTSTRAP *********************/



/********************* HEADER *********************/
header {
  position: relative;
  z-index: 9000;
  /*height: 35px;*/
  flex: 0 1 35px;
  width: 100%;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  overflow: visible;
  padding: 5px 0;
}
header>*, header div {
  height: 25px;
}

.navspan {
  cursor: pointer;
  margin: auto;
}
.navspan:hover {
  color: #ffffff;
}
.navspan.active {
  color: #ffffff;
}

.userbar {
	text-align: center;
}
.userbar .pure-button {
	padding: 0 1em;
}
.userbar .pure-button {
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
}
.userbar .pure-button .fa {
	margin-top: 5px;
}
/********************* HEADER *********************/


/********************* MENUS **********************/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown .dropdown-menu {
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
header .dropdown .dropdown-menu {
	left: 0;
    width: 100%;
    z-index: 200;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown a {
    display: block;
    padding: 0.2em 0.8em;
}

.dropdown:hover .dropdown-trigger {
	border-bottom-right-radius: 0 0;
	border-bottom-left-radius: 0 0;
}
.dropdown-trigger .fa.fa-caret-up {
	display: none;
}
.dropdown-trigger .fa.fa-caret-down {
	display: inline-block;
}
.dropdown:hover .dropdown-trigger .fa.fa-caret-down {
	display: none;
}
.dropdown:hover .dropdown-trigger .fa.fa-caret-up {
	display: inline-block;
}
/********************* MENUS **********************/


/********************* TOOLBAR **********************/
.toolbar {
    width: 220px;
    height: 100%;
}
.toolbar #teams {
	padding-left: 10px;
}
div.reduced .toolbar {
  width: 40px;
}
div.reduced .toolbar * {
  display: none;
}
div.reduced .toolbar nav {
  display: block;
}
div.reduced .toolbar #show {
  display: block;
}
div.reduced .toolbar #show>* {
  display: block;
}
#nbEquipes {
	margin-right: 3px;
}
#nbEquipes span {
	font-size: 0.8em;
}
#startConcours {
	display: none;
}
#teams {
  padding-left: 10px;
}
#teamManagement .scroll-v {
  /*height: 100%;*/
}
#teamlist li i {
  margin: 0 15px 0 0;
}
#teamlist .editable {
  width: 125px;
}
/********************* TOOLBAR **********************/


/********************* MEDIA **********************/
@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside   { order: 1; }
  .main    { order: 2; }
}
/********************* MEDIA **********************/

/********************* PRINT **********************/
@media print
{
  * {
    font-size: 8px;
    overflow:hidden !important;
  }
  section {
    width: auto!important;
    padding: 0!important;
    margin: 0!important;
  }
  #repartition {
    width: 320px!important;
  }
  #repartition {
    width: 320px!important;
  }
  .tour {
    width: 90px!important;
    padding: 0!important;
    margin: 0!important;
  }
  #tour0 {
  	height: auto!important;
  }
  .tournoi {
  	height: auto!important;
  }
  .no-print, .no-print *
  {
    display: none !important;
  }
  .on-print
  {
    display: inline-block !important;
  }
  #liste label {
    width: 100px!important;
  }
  #consolante label {
    width: 50px!important;
  }
}
/********************* PRINT **********************/


/********************* FLEX **********************/
.flex>div {
	text-align: center;
}
.flex .right {
	margin-left: auto;
}
.wrap {
	flex-wrap: wrap;
}


/********************* ROUND-BUTTON **********************/
.round-button-circle {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.round-button-circle>a {
    display: block;
	padding-top: 40%;
    padding-bottom: 40%;
	line-height: 1em;
	margin-top: -0.5em;
	text-align: center;
}
/********************* ROUND-BUTTON **********************/

/********************* FORM **********************/
.formstd>div {
	margin: 0 auto;
}
.formstd label {
	text-align: right;
	width: 45%;
}
.form200 label {
	width: 200px;
}
.form300 label {
	width: 300px;
}
/********************* FORM **********************/